{% extends 'base.html' %}
{% block head %} 
<title>Task Master</title>
{% endblock %}

{% block body %}
<section class="todo-list">
    <header>My todo list</header>

    {% for task in tasks %}
    <div class="do">
        <input type="checkbox" id="do{{task.id}}">
        <label for="do{{task.id}}">
            <button class="btn"><i class="fa fa-check" aria-hidden="true"></i></button>
            <span class="label"> {{task.content}}</span>
            
        </label>
    </div>

    {% endfor %}
   
    <footer>
        <form action="/" method="POST" >
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </footer>

    
</section>
{% endblock %}
